{{!-- Route Explorer Map Embed --}}
<div class="route-explorer-section">
  <div class="route-explorer-map">
    <iframe
      src="https://boq.bike/api/routes/explore/map?org=hastings&amp;site=https://hastings.bike"
      title="Hastings County Route Explorer"
      loading="lazy"
      allowfullscreen
    ></iframe>
  </div>
</div>
