{{!< default}}
{{#primary_author}}
{{#contentFor "cover_image"}}
{{#if cover_image}}
<div class="global-cover" style="background-image:url({{{img_url cover_image size="xl" format="webp"}}})"></div>
{{else if @site.cover_image}}
<div class="global-cover" style="background-image:url({{{img_url @site.cover_image size="xl" format="webp"}}})"></div>
{{/if}}
{{/contentFor}}
{{>posts/header archive_page=true is_custom=true title=name custom_excerpt=bio custom_image=profile_image}}
{{/primary_author}}
{{>loop is_archive=true}}
{{pagination}}